<ion-header>
  <ion-toolbar>
    <ion-title>sports</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <google-map *ngIf="currentCenter"
              [latitude] = "currentCenter.lng"
              [longitude] = "currentCenter.lng"
              [zoom] = "defaultZoom">
  </google-map>-->
<!--  <map-marker
    [position]="center"
    icon = 'assets/img/bicycle.png'>
  </map-marker>
  <map-polyline *ngIf="coordinates"
                strokeColor='red' [path]="coordinates">
  </map-polyline>-->

</ion-content>
