$font-light: 'RC-Light';
$font-regular: 'RC-Regular';
$font-bold: 'RC-Bold';

$text-color-light: #767676;
$color-heavy: #4A4A4A;
$color-medium: #979797;

$size-container: 10px;

$size-xs: 10px;
$size-sm: 12px;
$size-md: 14px;
$size-lg: 16px;
$size-xl: 18px;
$size-xxl: 24px;

$size-0: 0px;
$size-0_5: 6px;
$size-1: 12px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 48px;

$card-size: 12px;
$card-bg-white: #FFFFFF;
$card-bg-primary: #DFE7F4;
$card-bg-secondary: #E9F8F1;
$card-bg-tertiary: #FEECEC;

$step-bg-primary: #DFE7F4;
$step-bg-secondary: #E9F8F1;
$step-bg-tertiary: #FEECEC;
