<ion-content [fullscreen]="true">
  <swiper class="slide" [keyboard]="true" [scrollbar]="true" [zoom]="true">
    <ng-template swiperSlide *ngFor="let slide of slides">
      <div>
        <ion-icon class="icon-close" (click)="finish()" name="close"></ion-icon>
        <img  [src]="slide.imageSrc" [alt]="slide.imageAlt">
        <h1>{{slide.title}}</h1>
        <h2>{{slide.subtitle}}</h2>
        <p>{{slide.description}}</p>
        <ion-icon name="{{slide.icon}}"></ion-icon>
      </div>
    </ng-template>
  </swiper>
</ion-content>
