<ion-header>
  <ion-toolbar color="primary">
    <ion-title>setting</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="text--center">
  <div class="success-brackground">
  <ion-avatar (click)="takePhoto()">
    <img [src]="userImge" alt="user" *ngIf="!photo">
    <img [src]="photo" alt="user" *ngIf="photo">
  </ion-avatar>
    <h1>Aaron Delgado</h1>
    <h2>radees.24.16@gmail.com</h2>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-text-center row-header">
        <ion-col>140</ion-col>
        <ion-col>2k</ion-col>
        <ion-col>500</ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center row-header">
        <ion-col>Artistas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Canciones</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
